@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}

* {
  box-sizing: border-box;
}
